*{
	font-family: 'Roboto', sans-serif;	margin:0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

li, a, button{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #000;
	text-decoration: none;
	list-style: none;
}

header{
	display: flex;
	justify-content: space-between;
	padding: 10px 3%;
}

.nav-left li , .nav-right li {
	display: inline-block;
	padding: 5px 7px;
}
 .nav-right li .fas{
 	color: #6b6b6b;
 	padding: 0;
 	font-size: 20px;
 	vertical-align: middle;
 }
 .nav-right button{
 	padding: 8px 25px;
 	background-color: rgba(66, 133, 244, 1);
 	color: #fff;
 	border:none;
 	border-radius: 3px;
 }
.nav-left li:hover, .nav-right li:hover {
	text-decoration: underline;
}
.nav-right li .fas:hover{
	color: #000;
	cursor: pointer;
}
.nav-right button:hover{
	background-color: rgba(66, 133, 244, 0.9);
	cursor: pointer;
}
/*google logo, search bar and buttons*/
.main-container{
	position: absolute;
	top:36%;
	left: 50%;
	transform: translate(-50%, -50%);
	//border:1px solid black;
}
.google-logo{
	max-width: 280px;
	margin: auto;
}
.google-logo img{
	max-width: 100%;
}
/*search bar*/
.container{
	padding: 0;
	width: 580px;
	height: 50px;
	border-radius: 50px;
	border:1px solid #9aa0a6;
	padding: 0 2%;
}
.elements-container{
	width: 100%;
	height: 100%;
	background-color: transparent;
	text-align: center;
}
.search{
	width: 100%;
	height: 42px;
	font-size: 16px;
	padding: 0 1%;
	border:none;
}
.search:focus{
	outline: none;
}
.search-icon{
	background-color: transparent;
	border:none;
	font-size: 15px;
	color: #9aa0a6;
}
.search-icon:hover{
	cursor: pointer;
}
.mic-icon img{
	max-width: 15px;
	height: auto;
}

/*buttons*/
.buttons-container{
	width: 580px;
	height: auto;
	text-align: center;
}
.buttons-container button{
	height: 34px;
	width: auto;
	padding:0 2%;
	background-color: #f7f7f7;
	border:none;
	border-radius: 5px;
	color: #5f6368;
	font-size: 15px;
}
.buttons-container button, .buttons-container a{
	margin: 0 5px;
}
.buttons-container button:hover, .buttons-container a:hover{
	color: #000;
	border: 1px solid #8c8c8c;
	cursor: pointer;
}
.buttons-container a{
	padding: 7px 2%;
	background-color: #f7f7f7;
	border:none;
	border-radius:5px;
	color: #5f6368;
	font-size: 15px;
}

/*margin in between*/
.google-logo, .container, .buttons-container{
	//border:1px solid red;
	margin-top: 30px;
}

/*footer*/
footer{
	display: flex;
	justify-content: space-between;
	padding: 10px 3%;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #f2f2f2;
	border-top: 1px solid #d3d3d3;
}
#settings{
	display: inline-block;
	border:none;
	background-color: inherit;
	font-size: 14px;
	text-align: center;
}
.footer-left li, .footer-right li{
	display: inline-block;
	padding: 2px 7px;
}
.footer-left li a, .footer-right li a{
	color: #727272;
	font-size: 14px;
}
/*TO DO LIST
1) ADD HOVER ATRIBUTES FOOTER*/
.footer-left li a:hover, .footer-right li a:hover{
	text-decoration: underline;
}











